.games-list-box{
    overflow-y: scroll;
    width: 100%;
    height: 256px;
    box-sizing: border-box !important;
}

.game-table{
    font-weight: bolder;
    margin: auto;
    border-collapse: separate;
    border-spacing: 8px;
}

.game-table td, .game-table th{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 32px;
    width: 32px;
}

.game-table td:hover,
.game-table th:hover{
    background-color: lightgray;
}

.game-table td:active,
.game-table th:active{
    background-color: black;
    color: white;
}